@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin noselect() {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}
