$menu-width: 20vw;
$folder-content-width: 23vw;
$note-width: auto;
$folder-content-toolbar-height: 100px;
$folder-content-list-item-height: 100px;

$note-menu-height: 50px;
$note-toolbar-height: 50px;

$body-background-color: #353232;

$menu-background-color: #1a1a1a;
$menu-icon-color: #adadad;
$menu-text-color: #adadad;
$menu-folder-list-selected-color: #404040;
