.context-menu {
  background-color: $menu-border;
  width: 120px;
  z-index: 1;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: fixed;
  display: none;
  color: $menu-text;
  // transition: 0.2s display ease-in;

  .context-menu-options {
    list-style: none;
    padding: 10px 0;
    z-index: 1;
    
    .context-menu-option {
      font-weight: 500;
      z-index: 1;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      // border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: $menu-focus;
      }
    }
  }
}

button{
  background: grey;
  border: none;
  
  .next{
    color:green;
  }
  
  &[disabled="false"]:hover{
    .next{
      color: red;
      animation: move 0.5s;
      animation-iteration-count: 2;
    }
  }
}

@keyframes move{
  from{
    transform: translate(0%);
  }
  50%{
    transform: translate(-40%);
  }
  to{
    transform: transform(0%);
  }
}
