@import "_variables";
@import "_mixins";

.tinote__list-of-notes {
  display: flex;
  flex-direction: row;
  float:left;

  height: 100%;
  max-height: 100%;
  background-color: $note-list-bg;
  .resize {
    height: 100%;
    width: 3px;
    background:$note-list-border;
  }

  .resize:hover {
    background: $resize-clr;
    cursor: ew-resize;
  }

  .wrapper {
    height: 100%;
    max-height: 100%;
    min-width: 180px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: $folder-content-width - 3;
  
    .toolbar {
      top: 0;
      height: $header-height;
      position: relative;
      border-bottom: 2px solid $note-list-border;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-basis: $header-height;


      .input-wrapper {
        display: flex;
        width: 80%;
        align-items: center;
        position: relative;
        height: 25px;
        color: $note-list-text;
        font-weight: 700;
    
        span {
          @include noselect();
          position: absolute;
          left: 6px;
          font-size: 1.3rem;
          border-right: 1px solid $note-list-border;
        }
    
        .search {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          border: 2px solid;
          border-radius: 10px;
          padding-left: 30px;
        }
      
        .search:focus {
          border: 2px solid rgba($color: $note-list-focus, $alpha: 0.5);
          border-radius: 10px;
          outline: none;
        }
      }
    
      .button {
        @include noselect();
        cursor: pointer;
        width: 10%;
        display: flex;
        align-items: center;
        padding: 3px;
        min-width: 24px;
        color: $note-list-btn;
    
        span {
          margin-right: 10px;
        }
      }
    
      .button.selected, .button:hover {
        background-color: $note-list-focus;
        border-radius: 10px;
      }
  
    }

    .list-of-notes {
      @include noselect();
      @include clear-list();
      top: $folder-content-toolbar-height;
      overflow-y: auto;
      background: #f8f8f8;
     // height: 750px;
      flex-grow: 2;

      .note-item {
        cursor: pointer;
        border-bottom: 3px solid $note-list-item-border;
        display: flex;
        justify-content: space-between;
        height: $folder-content-list-item-height;
        
        padding: 10px 10px 10px 20px;
  
        .text-data-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 10px;
  
          .title {
            font-size: 0.9rem;
            font-weight: 600;
          }
          
          .text {
            overflow: hidden;
            position: relative;
            //height: 50px;
            font-size: 0.8rem;
            font-weight: 600;
            color: rgba($color: $note-list-text, $alpha: 0.55)
          }
  
          .date {
            font-size: 0.7rem;
            font-weight: 500;
            color: rgba($color: $note-list-text, $alpha: 0.5)
          }
        }
  
        .img {
          width: 80px;
          height: 80px;
        }
      }

      .note-item.selected, .note-item:hover {
        background: #f2f2f2;
      }
    }
  }
}
