@import "_variables";
@import "_mixins";

.tinote__menu {
  display: flex;
  flex-direction: row;
  float:left;
  height: 100%;

  @include noselect();

  .resize {
    height: 100%;
    width: 3px;
    background:#f0f0f0;
  }

  .resize:hover {
    background: red;
    cursor: ew-resize;
  }

  .wrapper {
    min-width: 160px;
    max-width: 260px;
    width: $menu-width - 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;

    box-shadow: 3px 0px 8px 1px #D3D3D3;
    background: $menu-background-color;
    color: $menu-text-color;

    font-size: 0.8rem;
    font-weight: 500;
    color: rgba($color: #ffffff, $alpha: 0.70);

    .profile {
      cursor: pointer;
      padding-left: 10px;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      height: $header-height;
      border-bottom: 2px solid red;

      .img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }

      .name {
        margin-left: 10px;
      }
    }

    .horizontal-separator {
      margin: 10px auto;
      width: 80%;
      border-bottom: 2px solid red;
    }

    .list-of-folders {
      @include clear-list();
      margin-top: 10px;
      margin-left: 7px;
      margin-right: 10px;
      overflow-y: auto;

      .folder {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 3px;
        span {
          margin-right: 10px;
        }
      }

      .folder-selected, .folder:hover {
        background: $menu-folder-list-selected-color;
        border-radius: 10px;
      }

    }

    .settings {
      cursor: pointer;
      margin-top: auto;
      margin-bottom: 10px;
      margin-right: 10px;
      margin-left: 7px;
      display: flex;
      align-items: center;
      padding: 3px;
      span {
        margin-right: 10px;
      }
    }

    .settings.selected, .settings:hover {
      background: $menu-folder-list-selected-color;
      border-radius: 10px;
    }
  }
}
