@import "_variables";

.tinote__note-wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  //position: absolute;
  //--------
  overflow:hidden;

  right: 0;
  bottom: 0;
  top: 0;

  width: $note-width;
  height: 100%;
  
  background: #ffffff;

  .menu, .toolbar {
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid red;
  }

  .menu {
    //margin: 0 20px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name-of-note {
      margin-left: 20px;
    }
    .note-buttons {

      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 20px;
      
      .vertical-separator {
        margin: auto 5px;
        width: 2px;
        background: red;
        height: 15px;
        
      }
    }

  }

  .toolbar {
    height: $note-toolbar-height;
    margin: 0 60px;
    .button {
      margin-left: 10px;
    }
  }

  .note {
    margin: 20px 60px;
    outline: none;
  }
}
